<?xml version="1.0" encoding="utf-8" ?>
<SETTING>
  <FRONTAL>
    <ORIGINAL></ORIGINAL>
    <PLINHA></PLINHA>
    <SLINHA></SLINHA>
    <GENERICA></GENERICA>
    <MO></MO>
  </FRONTAL>
  <PLACAPRINCIPAL>
    <ORIGINAL></ORIGINAL>
    <MO></MO>
  </PLACAPRINCIPAL>
  <BATERIA>
    <ORIGINAL></ORIGINAL>
    <PLINHA></PLINHA>
    <SLINHA></SLINHA>
    <GENERICA></GENERICA>
  </BATERIA>
  <CONECTOR>
    <ORIGINAL></ORIGINAL>
    <MO></MO>
  </CONECTOR>
  <MICROFONE>
    <ORIGINAL></ORIGINAL>
    <MO></MO>
  </MICROFONE>
  <AUTOFALANTE>
    <ORIGINAL></ORIGINAL>
    <MO></MO>
  </AUTOFALANTE>
  <CAMERA>
    <ORIGINAL></ORIGINAL>
     <MO></MO>
  </CAMERA>
</SETTING>
